body, html {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    color: black;
}

.container {
    height: 100vh;
}

.jumbotron {
    background-color:black;
    color: white;
}

.center-align {
    text-align:center;
    margin-top: 150px;
}
